## Settings file was created by plugin Armoire v1.1.3
## Plugin GUID: advize.Armoire

[General]

## Enables overriding of appearances on local player.
# Setting type: Boolean
# Default value: true
EnableOverrides = true

## Enables display of all unlockable appearances.
# Setting type: Boolean
# Default value: true
ShowAllAppearances = true

## To disable specific appearances from being totalled as locked/unlocked, list their prefab names here separated by a comma. Names are case-sensitive.
# Setting type: String
# Default value: ShieldKnight,ShieldIronSquare,CapeTest,PickaxeStone, SledgeCheat, SwordCheat
DisabledAppearanceNames = ShieldKnight,ShieldIronSquare,CapeTest,PickaxeStone, SledgeCheat, SwordCheat

## Excludes DLC items (OdinCape, HelmetOdin) from being totalled as locked/unlocked.
# Setting type: Boolean
# Default value: true
ExcludeDLCItems = true

## Shows/hides additional details in undiscovered appearance tooltips.
# Setting type: Boolean
# Default value: false
ShowUndiscoveredHoverDetails = false

## Enable mod debug messages in console.
# Setting type: Boolean
# Default value: false
EnableDebugMessages = false

[UIPosition]

## If set to true, the ArmoireUI panel can be moved by holding left ctrl then clicking and dragging.
# Setting type: Boolean
# Default value: false
AllowDragging = false

## X,Y position of Armoire UI Panel from center-left anchor.
# Setting type: Vector2
# Default value: {"x":290.0,"y":0.0}
UIPosition = {"x":290.0,"y":0.0}

