## Settings file was created by plugin StumpsAreOneHp v0.0.1
## Plugin GUID: coemt.StumpsAreOneHp

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

