## Settings file was created by plugin SurtlingBoats v2.0.8
## Plugin GUID: coemt.SurtlingBoats

[1 - ServerSync]

## Change this to the required item you want for the boat speed boost [Synced with Server]
# Setting type: Single
# Default value: 1.5
SpeedBack = 1

## 1 tick speed [Synced with Server]
# Setting type: Single
# Default value: 1.7
SpeedSlow = 1.2

## 2 tick speed [Synced with Server]
# Setting type: Single
# Default value: 2
SpeedHalf = 2

## 3 tick speed [Synced with Server]
# Setting type: Single
# Default value: 2.5
SpeedFull = 2.5

## Change this to seconds per core [Synced with Server]
# Setting type: Single
# Default value: 720
Seconds per core = 300

## Change this to the required item you want for the boat speed boost [Synced with Server]
# Setting type: String
# Default value: SurtlingCore
Icon Prefab = SurtlingCore

## Change this to the required item you want for the boat speed boost, must use Serialized version example $item_swordbronze [Synced with Server]
# Setting type: String
# Default value: $item_surtlingcore
Item Required = $item_surtlingcore

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[General]

## Allow free usage
# Setting type: Boolean
# Default value: false
CheatMode = false

