## Settings file was created by plugin MONSTERS_KUMBAYA v1.0.2
## Plugin GUID: coemt.MONSTERS_KUMBAYA

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

