## Settings file was created by plugin EpicBossFights v1.0.4
## Plugin GUID: coemt.EpicBossFights

[1 - Eikthyr]

## Health for Eikthyr, Vanilla is 500 [Synced with Server]
# Setting type: Single
# Default value: 700
Health = 700

## Walk speed for Eikthyr, Vanilla is 5 [Synced with Server]
# Setting type: Single
# Default value: 8
Walk Speed = 8

## Run speed for Eikthyr, Vanilla is 7 [Synced with Server]
# Setting type: Single
# Default value: 11
Run Speed = 11

## Speed for Eikthyr, Vanilla is 2 [Synced with Server]
# Setting type: Single
# Default value: 4
Speed = 4

## Acceleration speed for Eikthyr, Vanilla is .3 [Synced with Server]
# Setting type: Single
# Default value: 0.7
Acceleration = 0.7

## Prefab 1 name for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Greyling
Eikthyr Spawn 1 = Greyling

## Prefab 2 name for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Neck
Eikthyr Spawn 2 = Neck

## Prefab 3 name for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Greydwarf_Shaman
Eikthyr Spawn 3 = Greydwarf_Shaman

## Prefab 4 name for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Greydwarf
Eikthyr Spawn 4 = Greydwarf

## Creature Amount Minimum for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 1
Eikthyr Spawn Amount Min = 1

## Creature Amount Maximum for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 3
Eikthyr Spawn Amount Max = 3

## Max Spawned per creature for Eikthyrs new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 1
Eikthyr Max Spawned = 1

[2 - Elder]

## Health for Elder, Vanilla is 2500 [Synced with Server]
# Setting type: Single
# Default value: 2850
Health = 2850

## Walk speed for Elder, Vanilla is 5 [Synced with Server]
# Setting type: Single
# Default value: 6
Walk Speed = 6

## Run speed for Elder, Vanilla is 6 [Synced with Server]
# Setting type: Single
# Default value: 7
Run Speed = 7

## Speed for Elder, Vanilla is 3 [Synced with Server]
# Setting type: Single
# Default value: 4
Speed = 4

## Acceleration speed for Elder, Vanilla is .1 [Synced with Server]
# Setting type: Single
# Default value: 0.3
Acceleration = 0.3

## Prefab 1 name for Elder new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Greydwarf
Elder Spawn 1 = Greydwarf

## Prefab 2 name for Elder new spawn creature attack [Synced with Server]
# Setting type: String
# Default value: Greydwarf_Shaman
Elder Spawn 2 = Greydwarf_Shaman

## Creature Amount Minimum for Elder new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 3
Elder Spawn Amount Min = 3

## Creature Amount Maximum for Elder new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 3
Elder Spawn Amount Max = 3

## Max Spawned per creature for Elder new spawn creature attack [Synced with Server]
# Setting type: Int32
# Default value: 5
Elder Max Spawned = 5

[3 - Bonemass]

## Health for Bonemass, Vanilla is 5000 [Synced with Server]
# Setting type: Single
# Default value: 5750
Health = 5750

## Walk speed for Bonemass, Vanilla is 5 [Synced with Server]
# Setting type: Single
# Default value: 5
Walk Speed = 5

## Run speed for Bonemass, Vanilla is 2 [Synced with Server]
# Setting type: Single
# Default value: 6
Run Speed = 6

## Speed for Bonemass, Vanilla is 4 [Synced with Server]
# Setting type: Single
# Default value: 7
Speed = 7

## Acceleration speed for Bonemass, Vanilla is .2 [Synced with Server]
# Setting type: Single
# Default value: 0.3
Acceleration = 0.3

[4 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[4 - Moder]

## Health for Moder, Vanilla is 7500 [Synced with Server]
# Setting type: Single
# Default value: 9000
Health = 9000

## Walk speed for Moder, Vanilla is 5 [Synced with Server]
# Setting type: Single
# Default value: 5
Walk Speed = 5

## Fly speed for Moder, Vanilla is 20 [Synced with Server]
# Setting type: Single
# Default value: 25
Fly Speed = 25

## Speed for Moder, Vanilla is 4 [Synced with Server]
# Setting type: Single
# Default value: 7
Speed = 7

## Acceleration speed for Moder, Vanilla is .3 [Synced with Server]
# Setting type: Single
# Default value: 0.7
Acceleration = 0.7

