## Settings file was created by plugin DragonRidersExtrasMod v1.0.0.0
## Plugin GUID: com.github.dragonridersextrasmod.DragonRidersExtrasMod

[Logging]

## Enable logging
# Setting type: Boolean
# Default value: false
Logging Enabled = false

