## Settings file was created by plugin Expand World Size v1.30
## Plugin GUID: expand_world_size

[1. General]

## If true, the world map is regenerated automatically on data changes.
# Setting type: Boolean
# Default value: true
Regenerate map = true

## Radius of the world in meters (excluding the edge).
# Setting type: String
# Default value: 10000
World radius = 10000

## Size of the edge area in meters (added to the radius for the total size).
# Setting type: String
# Default value: 500
World edge size = 500

## Increases the minimap size, but also significantly increases the generation time.
# Setting type: String
# Default value: 1
Minimap size = 1

## Decreases the minimap detail, but doesn't affect the generation time. Automatically calculated when zero.
# Setting type: String
# Default value: 0
Minimap pixel size = 0

## Stretches the world to a bigger area.
# Setting type: String
# Default value: 1
Stretch world = 1

## Stretches the biomes to a bigger area.
# Setting type: String
# Default value: 1
Stretch biomes = 1

## Multiplies the amount of forest.
# Setting type: String
# Default value: 1
Forest multiplier = 1

## Multiplies the altitude.
# Setting type: String
# Default value: 1
Altitude multiplier = 1

## Adds to the altitude.
# Setting type: String
# Default value: 0
Altitude delta = 0

## Multplies the water depth.
# Setting type: String
# Default value: 1
Water depth multiplier = 1

## Multiplies the max amount of locations.
# Setting type: String
# Default value: 1
Locations = 1

# Setting type: String
# Default value: 
Offset X = 

# Setting type: String
# Default value: 
Offset Y = 

# Setting type: String
# Default value: 
Seed = 

# Setting type: String
# Default value: 
Height variation seed = 

[2. Poles]

## If true, restricts Ashlands biome position.
# Setting type: Boolean
# Default value: true
Restrict Ashlands position = true

## How wide is the Ashlands biome (meters).
# Setting type: String
# Default value: 7500
Ashlands width restriction = 7500

## How long/deep is the Ashlands biome (meters).
# Setting type: String
# Default value: 1000
Ashlands length restriction = 1000

## If true, Ashlands biome has an Ocean gap above it.
# Setting type: Boolean
# Default value: true
Ashlands gap = true

## If true, Deep North biome has an Ocean gap below it.
# Setting type: Boolean
# Default value: true
Deep North gap = true

## If true, the red water color is completely removed.
# Setting type: Boolean
# Default value: false
Remove Ashlands water = false

## If true, fixes the water color to match the current biome.
# Setting type: Boolean
# Default value: true
Fix water color = true

