## Settings file was created by plugin StarLevelSystem v0.17.8
## Plugin GUID: MidnightsFX.StarLevelSystem

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

## Enables Detailed logging for damage calculations, warning, lots of logging.
# Setting type: Boolean
# Default value: false
EnableDebugOutputForDamage = false

## Enables Detailed logging for creature levelup rolls.
# Setting type: Boolean
# Default value: false
EnableDebugOutputLevelRolls = false

[LevelSystem]

## The Maximum number of stars that a creature can have
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 200
MaxLevel = 20

## Rerolls creature levels which are above maximum defined level, when those creatures are loaded. This will automatically clean up overleveled creatures if you reduce the max level.
# Setting type: Boolean
# Default value: true
OverlevedCreaturesGetRerolledOnLoad = true

## Enables started creatures to get larger for each star
# Setting type: Boolean
# Default value: true
EnableCreatureScalingPerLevel = true

## Creatures further away from the center of the world have a higher chance to levelup, this is a bonus applied to existing creature/biome configuration.
# Setting type: Boolean
# Default value: true
EnableDistanceLevelScalingBonus = true

## Enables map rings to show distance levels, this is a visual aid to help you see how far away from the center of the world you are.
# Setting type: Boolean
# Default value: true
EnableMapRingsForDistanceBonus = true

## When enabled the distance bonus is calculated from the starter temple instead of world center, typically this makes little difference. But can help ensure your starting area is more correctly calculated.
# Setting type: Boolean
# Default value: false
DistanceBonusIsFromStarterTemple = false

## The colors that distance rings will use, if there are more rings than colors, the color pattern will be repeated. (Optional, use an HTML hex color starting with # to have a custom color.) Available options: Red, Orange, Yellow, Green, Teal, Blue, Purple, Pink, Gray, Brown, Black
# Setting type: String
# Default value: White,Blue,Teal,Green,Yellow,Purple,Orange,Pink,Purple,Red,Grey
DistanceRingColorOptions = White,Blue,Teal,Green,Yellow,Purple,Orange,Pink,Purple,Red,Grey

## The number of ring points to calculate per frame when generating the minimap rings. Higher values make this go faster, but can get it killed or cause instability.
# Setting type: Int32
# Default value: 1000
# Acceptable value range: From 0 to 150
MiniMapRingGeneratorUpdatesPerFrame = 150

## The additional size that a creature grows each star level.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 2
PerLevelScaleBonus = 0.1

## Enables scaling in dungeons, this can cause creatures to become stuck.
# Setting type: Boolean
# Default value: false
EnableScalingInDungeons = false

## Enables this mods colorization of creatures based on their star level.
# Setting type: Boolean
# Default value: true
EnableColorization = true

## The amount of health that each level gives a creature, vanilla is 1x.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 5
EnemyHealthMultiplier = 1

## The percent amount of health that each world level gives a creature, vanilla is 2x (eg 200% more health each world level).
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 2
EnemyHealthPerWorldLevel = 0.2

## The amount of damage that each level gives a creatures, vanilla is 0.5x (eg 50% more damage each level).
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 2
EnemyDamageLevelMultiplier = 0.1

## The amount of health that each level gives a boss. 1 is 100% more health per level.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 5
BossEnemyHealthMultiplier = 0.3

## The amount of damage that each level gives a boss. 1 is 100% more damage per level.
# Setting type: Single
# Default value: 0.02
# Acceptable value range: From 0 to 5
BossEnemyDamageMultiplier = 0.02

## Randomly rolls bred creature levels, instead of inheriting from parent.
# Setting type: Boolean
# Default value: false
RandomizeTameLevels = false

## Randomly rolls bred creatures modifiers instead of inheriting from a parent
# Setting type: Boolean
# Default value: true
RandomizeTameChildrenModifiers = true

## Spawn multipliers set on creature or biome will apply to produced tames when enabled.
# Setting type: Boolean
# Default value: false
SpawnMultiplicationAppliesToTames = false

## Boss creatures never have spawn multipliers applied to them.
# Setting type: Boolean
# Default value: true
BossCreaturesNeverSpawnMultiply = true

## Enables collider fixes for ridable creatures (lox and Askavin).
# Setting type: Boolean
# Default value: true
EnableRidableCreatureSizeFixes = true

## Overrides spawner levels to be controlled by SLS (this impacts all naturally spawning creatures)
# Setting type: Boolean
# Default value: true
ControlSpawnerLevels = true

## Forces creatures spawned from abilities to be controlled by SLS. This primarily impacts things such as the roots from Elder.
# Setting type: Boolean
# Default value: true
ControlAbilitySpawnedCreatures = true

## Forces boss creatures to be controlled by SLS. Bosses will not get star levels if this is disabled.
# Setting type: Boolean
# Default value: true
ControlBossSpawns = true

## Forces all creatures to be controlled by SLS, this includes creatures spawned from player abilities and items. This will override creature levels, other mods must use the API to ensure their spawned creature levels are set.
# Setting type: Boolean
# Default value: false
ForceControlAllSpawns = false

## A list of creatures which always get their level set
# Setting type: String
# Default value: piece_TrainingDummy
SpawnsAlwaysControlled = piece_TrainingDummy

## When enabled, creatures that are bred can have higher levels than their parents. Otherwise, they will be capped at the highest parent level.
# Setting type: Boolean
# Default value: false
OffspringCanBeStrongerThanParents = false

## When enabled, creatures that are bred have a chance to gain an extra level above their parents. Chance is based on this value, 0.1 = 10% chance.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 1
OffspringGainExtraLevelChance = 0.05

## When enabled, creatures produced from breeding have a chance to be infertile.
# Setting type: Boolean
# Default value: false
OffspringCanBeInfertile = false

## When enabled, the chance that a creature produced from breeding will be infertile.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 1
OffspringChanceToBeInfertile = 0.5

[LootSystem]

## The amount of additional loot that a creature provides per each star level
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 4
PerLevelLootScale = 1

## The type of loot calculation to use. Per Level 
# Setting type: String
# Default value: PerLevel
# Acceptable values: PerLevel, Exponential
LootDropCaluationType = PerLevel

## The number of loot drops that are generated per tick, reducing this will reduce lag when massive amounts of loot is generated at once.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 100
LootDropsPerTick = 20

## Enables scaling of all loot which does not normally scale per level. Typically this is just trophies.
# Setting type: Boolean
# Default value: false
ScaleAllLootByLevel = false

## This causes higher level chickens (and other egg producers) to drop MORE eggs instead of higher leveled ones.
# Setting type: Boolean
# Default value: true
LootEggsDropIncreaseStacks = true

## When enabled, the level of egg grown creatures is determined by the eggs quality level. Otherwise the grown creature uses its default level configuration.
# Setting type: Boolean
# Default value: false
EggLevelDeterminedByItemQuality = false

[Misc]

## Number of cache updates to process when performing live updates
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 150
NumberOfCacheUpdatesPerFrame = 10

## Writes out color generators to a debug file. This can be useful if you want to hand pick color settings from generated values.
# Setting type: Boolean
# Default value: false
OutputColorizationGeneratorsData = false

## The delay waited before a creature is setup, this is the delay that the person controlling the creature will wait before setup. Higher values will delay setup.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 150
InitialDelayBeforeSetup = 0.5

## The number of seconds non-owned creatures we will waited on before loading their modified attributes. This is a fallback setup.
# Setting type: Int32
# Default value: 5
# Acceptable value range: From 0 to 150
FallbackDelayBeforeCreatureSetup = 5

[Modifiers]

## The default number of major modifiers that a creature can have.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 150
MaxMajorModifiersPerCreature = 1

## The default number of minor modifiers that a creature can have.
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 0 to 150
MaxMinorModifiersPerCreature = 1

## Limits the number of modifiers that a creature can have based on its level.
# Setting type: Boolean
# Default value: true
LimitCreatureModifiersToCreatureStarLevel = true

## The chance that a creature will have a major modifier (creatures can have BOTH major and minor modifiers).
# Setting type: Single
# Default value: 0.15
# Acceptable value range: From 0 to 1
ChanceMajorModifier = 0.15

## The chance that a creature will have a minor modifier (creatures can have BOTH major and minor modifiers).
# Setting type: Single
# Default value: 0.25
# Acceptable value range: From 0 to 1
ChanceMinorModifier = 0.25

## Wether or not bosses can spawn with modifiers.
# Setting type: Boolean
# Default value: true
EnableBossModifiers = true

## The chance that a boss will have a modifier.
# Setting type: Single
# Default value: 0.75
# Acceptable value range: From 0 to 1
ChanceOfBossModifier = 0.75

## The maximum number of modifiers that a boss can have.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 150
MaxBossModifiersPerBoss = 2

## Wether or not creatures spawned from the Splitter modifier inherit the level of the parent creature.
# Setting type: Boolean
# Default value: true
SplittersInheritLevel = true

## Maximum number of prefix names to use when building a creatures name.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 0 to 150
LimitCreatureModifierPrefixes = 3

## Enables or disables ordering of modifiers for naming. If enabled, minor modifiers will be sorted first eg: Fast Poisonous
# Setting type: Boolean
# Default value: false
MinorModifiersFirstInName = false

[Multiplayer]

## The additional amount of damage enemies will do to players, when there is a group of players together, per player. .2 = 20%. Vanilla gives creatures 4% more damage per player nearby.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 2
MultiplayerEnemyDamageModifier = 0.05

## Enemies take reduced damage when there is a group of players, vanilla gives creatures 30% damage resistance per player nearby.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 0.99
MultiplayerEnemyHealthModifier = 0.2

## The number of players in a local area required to cause monsters to gain bonus health and/or damage.
# Setting type: Int32
# Default value: 3
# Acceptable value range: From 1 to 20
MultiplayerScalingRequiredPlayersNearby = 3

## Wether or not creatures gain more health when players are grouped up.
# Setting type: Boolean
# Default value: true
EnableMultiplayerEnemyHealthScaling = true

## Wether or not creatures gain more damage when players are grouped up.
# Setting type: Boolean
# Default value: false
EnableMultiplayerEnemyDamageScaling = false

[ObjectLevels]

## Enables birds to scale with the level system. This will cause them to become larger and give more drops.
# Setting type: Boolean
# Default value: true
EnableScalingBirds = true

## The amount of size that birds gain per level. 0.1 = 10% larger per level.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 2
BirdSizeScalePerLevel = 0.1

## Enables star scaling for fish. This does potentially allow huge fish.
# Setting type: Boolean
# Default value: true
EnableScalingFish = true

## Enables level scaling for rocks.
# Setting type: Boolean
# Default value: false
EnableRockLevels = false

## Sets the max level that fish can scale up to.
# Setting type: Int32
# Default value: 20
# Acceptable value range: From 1 to 150
FishMaxLevel = 20

## Sets the max level that birds can scale up to.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 150
BirdMaxLevel = 10

## Sets the max level that trees can scale up to.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 150
TreeMaxLevel = 10

## Sets the max level that rocks can scale up to.
# Setting type: Int32
# Default value: 10
# Acceptable value range: From 1 to 150
RockMaxLevel = 10

## Sets the max level that generic destructibles can be leveled to
# Setting type: Int32
# Default value: 1
# Acceptable value range: From 1 to 150
DestructibleMaxLevel = 1

## The amount of size that fish gain per level 0.1 = 10% larger per level.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 150
FishSizeScalePerLevel = 0.1

## Enables level scaling of trees. Make the trees bigger than reasonable? sure why not.
# Setting type: Boolean
# Default value: true
EnableTreeScaling = true

## Scales the level of trees based on biome and distance from the center/spawn. This does not randomize tree levels, but reduces network usage.
# Setting type: Boolean
# Default value: true
UseDeterministicTreeScaling = true

## The amount of size that trees gain per level 0.1 = 10% larger per level.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 150
TreeSizeScalePerLevel = 0.1

## The amount of additional wood that each level grants for a tree.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 150
PerLevelTreeLootScale = 0.2

## Per level additional loot that birds gain.
# Setting type: Single
# Default value: 0.3
# Acceptable value range: From 0 to 150
PerLevelBirdLootScale = 0.3

## The amount of additional stones and ores that each level grants for a rock
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 150
PerLevelMineRockLootScale = 0.2

## The amount of additional loot that destructible items grant for each level
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 150
PerLevelDestructibleLootScale = 0.2

