## Settings file was created by plugin Deathlink v0.1.0
## Plugin GUID: MidnightsFX.Deathlink

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

[DeathProgression]

## How impactful death skill progression is. This impacts how much each level improves your skill and item retention.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 10
DeathSkillPerLevelBonus = 1

## The minimum amount of Equipment that can be retained on death, depends on players individual skill.
# Setting type: Int32
# Default value: 2
# Acceptable value range: From 0 to 30
MinimumEquipmentRetainedOnDeath = 2

## The maximum amount of Resources that can be retained on death, depends on players individual skill.
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 100
MaxPercentResourcesRetainedOnDeath = 20

## The maximum amount of total items that can be retained on death, depends on players individual skill.
# Setting type: Single
# Default value: 90
# Acceptable value range: From 0 to 100
MaxPercentTotalItemsRetainedOnDeath = 90

## List of items that are not rolled to be saved through death progression.
# Setting type: String
# Default value: Tin,TinOre,Copper,CopperOre,CopperScrap,Bronze,Iron,IronScrap,Silver,SilverOre,DragonEgg,chest_hildir1,chest_hildir2,chest_hildir3,BlackMetal,BlackMetalScrap,DvergrNeedle,MechanicalSpring,FlametalNew,FlametalOreNew
ItemsNotSkillChecked = Tin,TinOre,Copper,CopperOre,CopperScrap,Bronze,Iron,IronScrap,Silver,SilverOre,DragonEgg,chest_hildir1,chest_hildir2,chest_hildir3,BlackMetal,BlackMetalScrap,DvergrNeedle,MechanicalSpring,FlametalNew,FlametalOreNew

## What happens to non-teleportable items. DropOnDeath = placed into a tombstone on death, AlwaysDestroy = never saved, AlwaysSave = These items are never destroyed and do not count towards save limits.
# Setting type: String
# Default value: dropOnDeath
# Acceptable values: DropOnDeath, AlwaysDestroy, AlwaysSave
ItemsNotSkillCheckedAction = DropOnDeath

[DeathSkillGain]

## Skill Gain from killing non-boss creatures.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 150
SkillGainOnKills = 0.05

## Skill Gain from killing boss creatures.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 150
SkillGainOnBossKills = 0.2

## Skill Gain from crafting.
# Setting type: Single
# Default value: 0.08
# Acceptable value range: From 0 to 150
SkillGainOnCrafts = 0.08

## Skill Gain from resource gathering.
# Setting type: Single
# Default value: 0.001
# Acceptable value range: From 0 to 150
SkillGainOnResourceGathering = 0.001

## Skill Gain from resource gathering.
# Setting type: Single
# Default value: 0.005
# Acceptable value range: From 0 to 150
SkillGainOnBuilding = 0.005

## How frequently skill gains are computed and added. More frequently means smaller xp gains more often.
# Setting type: Single
# Default value: 1200
# Acceptable value range: From 0.1 to 100
SkillProgressUpdateCheckInterval = 100

[DeathTweaks]

## Whether or not dying will cause you to loose your current food.
# Setting type: Boolean
# Default value: true
FoodLossOnDeath = true

## Whether or not dying will cause you to loose your eaten foods based on skill level.
# Setting type: Boolean
# Default value: true
FoodLossOnDeathBySkillLevel = true

## Whether or not a map marker is placed on your death location.
# Setting type: Boolean
# Default value: true
ShowDeathMapMarker = true

[SkillLossModifiers]

## When enabled, you can only loose XP gained since the last death. Repeated deaths regardless of time without skill gains will not result in XP loss.
# Setting type: Boolean
# Default value: true
OnlyXPLossFromSkillGains = true

## The percentage of skills that are lost when dying.
# Setting type: Single
# Default value: 0.2
# Acceptable value range: From 0 to 1
GainedSkillLossFactor = 0.2

