## Settings file was created by plugin Deathlink v0.8.1
## Plugin GUID: MidnightsFX.Deathlink

[Client config]

## Enables Debug logging.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

[Config]

## If true, death configuration is stored and checked as a private key on the player. Key value is synced when connecting to a server. False uses the yaml configuration flatfile.
# Setting type: Boolean
# Default value: true
UsePrivateKeysForDeathChoice = true

[DeathProgression]

## List of items that are not rolled to be saved through death progression.
# Setting type: String
# Default value: Tin,TinOre,Copper,CopperOre,CopperScrap,Bronze,Iron,IronScrap,Silver,SilverOre,DragonEgg,chest_hildir1,chest_hildir2,chest_hildir3,BlackMetal,BlackMetalScrap,DvergrNeedle,MechanicalSpring,FlametalNew,FlametalOreNew
ItemsNotSkillChecked = Tin,TinOre,Copper,CopperOre,CopperScrap,Bronze,Iron,IronScrap,Silver,SilverOre,DragonEgg,chest_hildir1,chest_hildir2,chest_hildir3,BlackMetal,BlackMetalScrap,DvergrNeedle,MechanicalSpring,FlametalNew,FlametalOreNew

[DeathSkillGain]

## Skill Gain from killing non-boss creatures.
# Setting type: Single
# Default value: 5
# Acceptable value range: From 0 to 150
SkillGainOnKills = 5

## Skill Gain from killing boss creatures.
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 150
SkillGainOnBossKills = 20

## Skill Gain from crafting.
# Setting type: Single
# Default value: 0.8
# Acceptable value range: From 0 to 150
SkillGainOnCrafts = 0.8

## Skill Gain from resource gathering.
# Setting type: Single
# Default value: 0.1
# Acceptable value range: From 0 to 150
SkillGainOnResourceGathering = 0.1

## Skill Gain from building.
# Setting type: Single
# Default value: 0.5
# Acceptable value range: From 0 to 150
SkillGainOnBuilding = 0.5

## How frequently skill gains are computed and added. More frequently means smaller xp gains more often.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0.1 to 5
SkillProgressUpdateCheckInterval = 1

[DeathTweaks]

## Whether or not a map marker is placed on your death location.
# Setting type: Boolean
# Default value: true
ShowDeathMapMarker = true

[ModIntegrations]

## If true, XP loss also happens for characters Alamanc Class level.
# Setting type: Boolean
# Default value: true
EnableAlmanacClassesXPLossOnDeath = true

## How strong the XP loss for Almanac is, lower = less XP loss, higher = more XP loss.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 150
AlmanacClassesXPLossScale = 1

## How much Almanac Classes XP is gained based on Deathlink actions. This is gained at an inregular interval based on deathlink skill gains.
# Setting type: Single
# Default value: 20
# Acceptable value range: From 0 to 150
AlmanacClassesXPGainScale = 20

## If true, XP loss also happens for characters WackyMMO level.
# Setting type: Boolean
# Default value: true
EnableWackyMMOXPLossOnDeath = true

## How strong the XP loss for WackyMMO is, lower = less XP loss, higher = more XP loss.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 150
WackyMMOXPLossScale = 1

## How strong the XP gain for WackyMMO is, lower = less XP gain, higher = more XP gain.
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 150
WackyMMOXPGainScale = 1

