## Settings file was created by plugin ValheimFortress v0.32.11
## Plugin GUID: MidnightsFX.ValheimFortress

[Auto Ballista]

## Whether or not the automated ballista will target passive creatures (like deer)
# Setting type: Boolean
# Default value: false
EnableTargetingPassiveCreatures = false

## How much damage the automated ballista does per shot.
# Setting type: Single
# Default value: 120
# Acceptable value range: From 10 to 5000
BallistaDamage = 120

## How far the ballista can aquire targets and shoot
# Setting type: Single
# Default value: 30
# Acceptable value range: From 10 to 100
BallistaRange = 30

## How inaccurate the ammo is for the ballista
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 0.15
BallistaAmmoAccuracyPenalty = 0.05

## How long the ballista waits before another shot
# Setting type: Single
# Default value: 2
# Acceptable value range: From 0.5 to 10
BallistaCooldownTime = 2

## How many ticks until the ballista updates its cache of nearby enemies.
# Setting type: Int16
# Default value: 5
# Acceptable value range: From 1 to 10
BallistaTargetUpdateCacheInterval = 5

## Whether or not the ballista will verify it won't hit other things before shooting.
# Setting type: Boolean
# Default value: true
BallistaEnableShotSafetyCheck = true

[Building - Blue Crystal Wall]

BlueCrystalWall-Enable = false

BlueCrystalWall-recipe = Blueberries,4,True|Crystal,2,True

[Building - Green Crystal Wall]

GreenCrystalWall-Enable = false

GreenCrystalWall-recipe = Guck,2,True|Crystal,2,True

[Building - Red Crystal Wall]

RedCrystalWall-Enable = false

RedCrystalWall-recipe = Raspberry,2,True|Crystal,2,True

[Building - Yellow Crystal Wall]

YellowCrystalWall-Enable = false

YellowCrystalWall-recipe = Dandelion,2,True|Crystal,2,True

[Client config]

## Enables Debug logging for Valheim Fortress.
# Setting type: Boolean
# Default value: false
EnableDebugMode = false

## Enables debug mode for turrets, this can be noisy.
# Setting type: Boolean
# Default value: false
EnableTurretDebugMode = false

[Difficulty Levels]

## The base number of points that all waves add. This is especially impactful in early levels (meadows).
# Setting type: Int16
# Default value: 100
# Acceptable value range: From 100 to 1000
BaseChallengePoints = 100

## The absolute max number of points a wave can generate with, higher values will be clamped down to this value.
# Setting type: Int16
# Default value: 3000
# Acceptable value range: From 1000 to 30000
MaxChallengePoints = 3000

## The linear regression slope which increases difficulty. If you want harder waves, add 1 and try out the difficulty again.
# Setting type: Single
# Default value: 15
# Acceptable value range: From 5 to 50
ChallengeSlope = 15

## The chance that a valid prior biome creature will be selected. Only 1 can be selected per wave. Setting to zero disables generating waves with previous biome creatures.
# Setting type: Single
# Default value: 0.05
# Acceptable value range: From 0 to 1
ChanceOfPreviousBiomeCreature = 0.05

## The max number of stars a creature can have. SLE or CLLC is required for anything over 2.
# Setting type: Int16
# Default value: 2
# Acceptable value range: From 0 to 10
MaxCreatureStars = 2

[Furniture - Green Jute Carpet]

GreenJuteCarpet-Enable = false

GreenJuteCarpet-recipe = Guck,1,True|JuteRed,4,True

[Furniture - Red Jute Carpet]

RedJuteCarpet-Enable = false

RedJuteCarpet-recipe = JuteRed,4,True

[Furniture - Yellow Jute Carpet]

YellowJuteCarpet-Enable = false

YellowJuteCarpet-recipe = Dandelion,4,True|JuteRed,4,True

[Misc - Alter of Arena]

## Enable/Disables Alter of Arena.
# Setting type: Boolean
# Default value: true
AlterofArena-craftable = true

## Sets the required crafting station for Alter of Arena.
# Setting type: String
# Default value: piece_workbench
AlterofArena-requiredBench = piece_workbench

## Recipe for Alter of Arena. Should be in the format of Prefab,Amount,refund|Prefab,Amount,refund eg: Wood,12,false|Stone,2,true
# Setting type: String
# Default value: Stone,23,True|Coins,100,False
AlterofArena-recipe = Stone,23,True|Coins,100,False

[Misc - Alter of Challenge]

## Enable/Disables Alter of Challenge.
# Setting type: Boolean
# Default value: true
AlterofChallenge-craftable = true

## Sets the required crafting station for Alter of Challenge.
# Setting type: String
# Default value: piece_workbench
AlterofChallenge-requiredBench = piece_workbench

## Recipe for Alter of Challenge. Should be in the format of Prefab,Amount,refund|Prefab,Amount,refund eg: Wood,12,false|Stone,2,true
# Setting type: String
# Default value: Stone,34,True|Ruby,4,True|Coins,100,False
AlterofChallenge-recipe = Stone,23,True|Ruby,4,True|Coins,100,False

AlterofChallenge-Enable = false

[Misc - Alter of the Arena]

AlteroftheArena-Enable = false

AlteroftheArena-recipe = Stone,23,True|Coins,100,False

[Misc - Auto Ballista]

## Enable/Disables Auto Ballista.
# Setting type: Boolean
# Default value: true
AutoBallista-craftable = true

## Sets the required crafting station for Auto Ballista.
# Setting type: String
# Default value: piece_artisanstation
AutoBallista-requiredBench = piece_artisanstation

## Recipe for Auto Ballista. Should be in the format of Prefab,Amount,refund|Prefab,Amount,refund eg: Wood,12,false|Stone,2,true
# Setting type: String
# Default value: BlackMetal,20,True|YggdrasilWood,20,True|MechanicalSpring,5,True|DragonTear,2,True
AutoBallista-recipe = BlackMetal,20,True|YggdrasilWood,20,True|MechanicalSpring,5,True|DragonTear,2,True

[Misc - Magic Turret]

MagicTurret-Enable = false

MagicTurret-recipe = BlackMetal,20,False|YggdrasilWood,20,False|MechanicalSpring,5,True|DragonTear,2,True

[Misc - Stone Spikes]

## Enable/Disables Stone Spikes.
# Setting type: Boolean
# Default value: true
StoneSpikes-craftable = true

## Sets the required crafting station for Stone Spikes.
# Setting type: String
# Default value: piece_stonecutter
StoneSpikes-requiredBench = piece_stonecutter

## Recipe for Stone Spikes. Should be in the format of Prefab,Amount,refund|Prefab,Amount,refund eg: Wood,12,false|Stone,2,true
# Setting type: String
# Default value: Stone,30,False|Silver,2,True
StoneSpikes-recipe = Stone,30,False|Silver,2,True

StoneSpikes-Enable = false

[Rewards]

## Whether or not the rewards should scale with the world setting. This will make the rewards more valuable in harder worlds.
# Setting type: Boolean
# Default value: true
ScaleRewardsFromWorldSetting = true

## Sets how fast the shrine will spawn rewards. Reducing this will reduce the performance impact of spawning so many items at once.
# Setting type: Int16
# Default value: 120
# Acceptable value range: From 10 to 400
MaxRewardsPerSecond = 120

## The base multiplier for rewards, higher values will make every wave more rewarding
# Setting type: Single
# Default value: 1.1
# Acceptable value range: From 0 to 150
rewardsMultiplier = 1.1

[Server]

## Server synced configs are not editable.
# Setting type: Boolean
# Default value: false
ServerConfigsLocked = false

[shine of challenge - levels]

level_base_challenge_points = 100

max_challenge_points = 3000

creature_star_chance = 0.15

challenge_slope = 15

chance_of_prior_biome_creature = 0.05

max_creature_stars = 2

[Shrine of Arena]

## The max number of creatures that a wave can generate with, creatures will attempt to upgrade and reduce counts based on this.
# Setting type: Int16
# Default value: 25
# Acceptable value range: From 12 to 200
ArenaShrineMaxCreaturesPerWave = 25

max_creatures_per_wave = 25

[Shrine of Challenge]

## The radius around the shrine that enemies can spawn in.
# Setting type: Int16
# Default value: 100
# Acceptable value range: From 10 to 800
MaxSpawnRange = 100

## Whether or not the hard mode modifier is available (100% bigger wave size for 50% more rewards)
# Setting type: Boolean
# Default value: true
EnableHardModifier = true

## Whether or not boss mod is available as a level modifier (more rewards & spawns the biome specific boss)
# Setting type: Boolean
# Default value: true
EnableBossModifier = true

## Whether or not siege mode is available as a modifier. Siege mode gives much larger pauses between waves, and 100% larger waves for 50% more reward.
# Setting type: Boolean
# Default value: true
EnableSiegeModifer = true

## Whether or not waves spawning from the shrine of challenge should ping the map when they spawn.
# Setting type: Boolean
# Default value: false
EnableMapPings = false

## Enables showing an estimate of how many rewards you will get for doing the selected level for the specified reward.
# Setting type: Boolean
# Default value: true
EnableRewardsEstimate = true

## Multiplier for rewards that scales with level, each level adds this to the value, making high level challenges much more rewarding.
# Setting type: Single
# Default value: 0.02
# Acceptable value range: From 0 to 150
rewardsDifficultyScalar = 0.02

## Sets the level at which interacting with the shrine will add notifier to remaining creatures.
# Setting type: Int16
# Default value: 10
# Acceptable value range: From 1 to 50
NotifyCreatureThreshold = 10

## Sets the level at which interacting with the shrine teleport remaining creatures to the shrine.
# Setting type: Int16
# Default value: 3
# Acceptable value range: From 1 to 50
TeleportCreatureThreshold = 3

## Sets the range at which announcements will display for shrine of challenge related activities
# Setting type: Single
# Default value: 150
# Acceptable value range: From 50 to 800
ShrineAnnouncementRange = 150

## Sets the max range for the shrine to scan creatures for reconnection when an area is unloaded/reloaded (this includes exit/loading singleplayer).
# Setting type: Single
# Default value: 150
# Acceptable value range: From 500 to 5000
ShrineReconnectRange = 500

## Sets the maximun number of creatures to process for reconnection in a singular second.
# Setting type: Int16
# Default value: 30
# Acceptable value range: From 1 to 60
ShrineReconnectPauseBetweenAmount = 30

## How much rewards are multipled for each additional player
# Setting type: Single
# Default value: 1
# Acceptable value range: From 0 to 3
ShrineRewardPlayerBonus = 1

## The max number of creatures that a wave can generate with, creatures will attempt to upgrade and reduce counts based on this.
# Setting type: Int16
# Default value: 60
# Acceptable value range: From 12 to 200
ChallengeShrineMaxCreaturesPerWave = 60

rewardsMultiplier = 1.1

MaxRewardsPerSecond = 120

max_creatures_per_wave = 60

[Wild Shrines]

## The mimum distance between shrines, setting this higher will result in fewer wild shrines, lower more.
# Setting type: Single
# Default value: 750
# Acceptable value range: From 100 to 5000
DistanceBetweenShrines = 1000

## Each wild shrine type will attempt to be placed this many times
# Setting type: Int16
# Default value: 100
# Acceptable value range: From 5 to 200
NumberOfEachWildShrine = 20

## Enable/Disable the VF_wild_shrine_green1 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_green1-Enable = true

## Enable/Disable the VF_wild_shrine_blue1 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_blue1-Enable = true

## Enable/Disable the VF_wild_shrine_green2 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_green2-Enable = true

## Enable/Disable the VF_wild_shrine_blue2 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_blue2-Enable = true

## Enable/Disable the VF_wild_shrine_yellow1 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_yellow1-Enable = true

## Enable/Disable the VF_wild_shrine_purple1 wildshrine.
# Setting type: Boolean
# Default value: true
VF_wild_shrine_purple1-Enable = true

VF_wild_shrine_green1 (UnityEngine.GameObject)-Enable = true

VF_wild_shrine_blue1 (UnityEngine.GameObject)-Enable = true

VF_wild_shrine_green2 (UnityEngine.GameObject)-Enable = true

VF_wild_shrine_blue2 (UnityEngine.GameObject)-Enable = true

VF_wild_shrine_yellow1 (UnityEngine.GameObject)-Enable = true

VF_wild_shrine_purple1 (UnityEngine.GameObject)-Enable = true

