## Settings file was created by plugin CryptsAndCaverns v0.0.1
## Plugin GUID: ruijven.CryptsAndCaverns

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[Skelet]

Can be tamed = Off

Food items = 

Spawn = Default

Spawn time = Always

Required altitude = 3000 - 7000

Required ocean depth = 0 - 0

Required global key = None

Group size = 1 - 1

Biome = Meadows

Spawn area = Everywhere

Required weather = None

Spawn altitude = 0.5

Can have stars = On

Hunt player = Off

Maximum spawn interval = 120

Spawn chance = 50

Forest condition = Both

Maximum creature count = 1

Drops = Default

Drop config = TrophySkeleton:1-1:10:unrestricted:multiplyByLevel,BoneFragments:1-1:100:unrestricted:multiplyByLevel,ArmorLeatherChest:1-1:10:unrestricted:multiplyByLevel,AxeFlint:1-1:10:unrestricted:multiplyByLevel,SpearFlint:1-1:10:unrestricted:multiplyByLevel

[Spriggan]

Can be tamed = Off

Food items = 

Spawn = Default

Spawn time = Always

Required altitude = 100 - 7000

Required ocean depth = 0 - 0

Required global key = None

Group size = 1 - 1

Biome = BlackForest

Spawn area = Everywhere

Required weather = Rain

Spawn altitude = 0.5

Can have stars = On

Hunt player = On

Maximum spawn interval = 600

Spawn chance = 50

Forest condition = Both

Maximum creature count = 1

Drops = Default

Drop config = Wood:2-7:100:unrestricted:multiplyByLevel,FineWood:2-7:100:unrestricted:multiplyByLevel,BirchSeeds:1-2:100:unrestricted:multiplyByLevel,Acorn:1-2:50:unrestricted:multiplyByLevel

[Spriggan Sappling]

Can be tamed = Off

Food items = 

Spawn = Default

Spawn time = Always

Required altitude = 5 - 7500

Required ocean depth = 0 - 0

Required global key = None

Group size = 1 - 1

Biome = Meadows

Spawn area = Everywhere

Required weather = Rain

Spawn altitude = 0.5

Can have stars = On

Hunt player = On

Maximum spawn interval = 600

Spawn chance = 50

Forest condition = Both

Maximum creature count = 1

Drops = Default

Drop config = Wood:1-5:100:unrestricted:multiplyByLevel,FineWood:1-5:100:unrestricted:multiplyByLevel,BirchSeeds:1-1:100:unrestricted:multiplyByLevel

