## Settings file was created by plugin Waypoints v1.2.1
## Plugin GUID: RustyMods.Waypoints

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[2 - Settings]

## If on, waypoints will generate along side game locations [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
0 - Locations = On

## Set amount of waypoint locations to attempt to generate [Synced with Server]
# Setting type: Int32
# Default value: 500
1 - Amount = 500

## If on, only admins can rename waypoints [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
2 - Only Admin Renames = Off

## If on, player can teleport non-teleportable items [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
3 - Teleport Anything = Off

## If on, portal checks if game has global key to allow teleportation of non-teleportable items [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
4 - Use Keys = Off

## If on, portal can teleport tames that are following player [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
5 - Teleport Tames = Off

## If on, players can teleport to their beds [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
6 - Teleport To Bed = On

## If on, players can teleport to locations [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
7 - Teleport To Locations = On

## If on, while playing no-map, map data gets hidden when map open [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
8 - Hide Map Data = Off

## If on, location pins must be in explored area to use [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require Known Location = Off

## Set minimum distance waypoints can spawn near each other [Synced with Server]
# Setting type: Single
# Default value: 1000
Min Distance = 1000

## If on, will remove vanilla portals from build menu [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Disable Portals = Off

## Add item ID to list that will prevent teleporting, ID separated by comma [Synced with Server]
# Setting type: String
# Default value: 
Blacklist = 

[3 - Charge System]

## If on, waypoints use charge system [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
0 - Enabled = Off

## Set charge item [Synced with Server]
# Setting type: String
# Default value: GreydwarfEye
1 - Charge Item = GreydwarfEye

## Set max charge [Synced with Server]
# Setting type: Int32
# Default value: 50
2 - Charge Max = 50

## If on, portal charge decays over time [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
3 - Charge Decays = On

## Set loss of charge time in minutes [Synced with Server]
# Setting type: Int32
# Default value: 5
4 - Minute between decay = 5

## Set base charge cost to teleport [Synced with Server]
# Setting type: Int32
# Default value: 1
5 - Cost = 1

## If on, waypoints calculate distance of destination to evaluate cost [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
6 - Dynamic Cost = Off

## Units of distance per charge, higher number reduces cost [Synced with Server]
# Setting type: Single
# Default value: 100
7 - Distance Units Per Charge = 100

[4 - Trails]

## If on, trails appear when players get near unknown waypoint [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
_Enable = On

## Set max range for trails to start appearing [Synced with Server]
# Setting type: Single
# Default value: 100
Max Range = 100

## If on, trails will not disappear if waypoint is known [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Always Show = Off

[Waypoint Portal]

## Build Category where Waypoint Portal is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Waypoint Portal is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft Waypoint Portal
# Setting type: String
# Default value: SwordCheat:1:False
Crafting Costs = SwordCheat:1:False

[Waypoint Shrine]

## Build Category where Waypoint Shrine is available.
# Setting type: BuildPieceCategory
# Default value: Misc
# Acceptable values: Misc, Crafting, BuildingWorkbench, BuildingStonecutter, Furniture, Custom, All
Build Table Category = Misc

# Setting type: String
# Default value: 
Custom Build Category = 

## Comma separated list of tools where Waypoint Shrine is available.
# Setting type: String
# Default value: Hammer
Tools = Hammer

## Item costs to craft Waypoint Shrine
# Setting type: String
# Default value: SwordCheat:1:False
Crafting Costs = SwordCheat:1:False

