## Settings file was created by plugin ProceduralRoads v1.4.2
## Plugin GUID: warpalicious.ProceduralRoads

[Analytics]

## Send a single anonymous ping when the game starts. No gameplay data is collected.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enabled = On

## Random anonymous ID. Change or delete to reset.
# Setting type: String
# Default value: efb6622c-0744-4785-a7ba-1a832f602130
InstanceID = efb6622c-0744-4785-a7ba-1a832f602130

[Locations]

## Comma-separated list of location names to include in road generation. Use this for locations added by Expand World Data or other mods. Example: Runestone_Boars,Runestone_Greydwarfs,MerchantCamp
# Setting type: String
# Default value: 
CustomLocations = 

[Roads]

## Width of generated roads in meters
# Setting type: Single
# Default value: 4
# Acceptable value range: From 2 to 10
RoadWidth = 4

## Percentage of islands that will have roads generated (0-100). Islands are selected by size (largest first).
# Setting type: Int32
# Default value: 50
# Acceptable value range: From 0 to 100
IslandRoadPercentage = 50

## Maximum number of iterations for each road segment's pathfinding algorithm. Higher values will generate more roads but increase generation time. Lower values will speed up generation time but cause less roads to generate.
# Setting type: Int32
# Default value: 10000
# Acceptable value range: From 1000 to 100000
PathfindingMaxIterations = 10000

