## Settings file was created by plugin More_World_Locations_AIO v4.2.0
## Plugin GUID: warpalicious.More_World_Locations_AIO

[0 - Features]

## If Off, shrine ward objects will be destroyed on load [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Shrines = On

## If Off, waystone ward objects will be destroyed on load [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Waystones = On

## If Off, trader locations (taverns, blacksmiths, material vendors) will not spawn [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Traders = On

## If Off, trainer locations (skill book vendors) will not spawn [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Trainers = On

## If On, uses warpalicious.More_World_Locations_TraderItems.yml from config folder. Auto-extracts default if missing. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Trader Configs = Off

## If On, location spawn quantities will be loaded from warpalicious.More_World_Locations_LocationConfigs.yml in BepInEx config folder. Auto-extracts defaults if missing. [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Location YAML = Off

[0 - Shipment Ports]

## If Off, port locations will not spawn in the world [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enable Port Locations = On

## [Legacy] No longer used [Not Synced with Server]
# Setting type: Vector3
# Default value: {"x":1760.0,"y":850.0,"z":0.0}
Panel Position = {"x":1760.0,"y":850.0,"z":0.0}

## Offset from top-right corner (drag with Left Alt to reposition) [Not Synced with Server]
# Setting type: Vector2
# Default value: {"x":-160.0,"y":-230.0}
Panel Offset = {"x":-160.0,"y":-230.0}

## Set background type [Not Synced with Server]
# Setting type: BackgroundOption
# Default value: Opaque
# Acceptable values: Opaque, Transparent
Background = Opaque

## Set seconds per meter for shipment transit [Synced with Server]
# Setting type: Single
# Default value: 0.5
Time Per Meter = 0.5

## Set item prefab to use as currency to ship items [Synced with Server]
# Setting type: String
# Default value: Coins
Shipment Currency = Coins

## If on, transit time will be based off override instead of calculated based off distance [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Override Transit Duration = Off

## Set override transit duration in seconds, 1800 = 30min [Synced with Server]
# Setting type: Single
# Default value: 1800
Transit Duration = 1800

## If on, shipments can expire [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Expires = On

## Set time until expiration, 3600 = 1 hour [Synced with Server]
# Setting type: Single
# Default value: 7200
Expiration Time = 7200

## If on, players can teleport to ports [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Teleport To Ports = On

## Coins charged per meter when teleporting. Set to 0 for free teleports. Default 0.5 = 1 coin per 2 meters [Synced with Server]
# Setting type: Single
# Default value: 0.5
Teleport Cost Per Meter = 0.5

[Analytics]

## Send a single anonymous ping when the game starts. No gameplay data is collected.
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Enabled = On

## Random anonymous ID. Change or delete to reset.
# Setting type: String
# Default value: c044745e-535b-453e-bea2-c8988364296e
InstanceID = 8f594137-37a7-46d7-bb4a-a8e8e1ce5ea7

