## Settings file was created by plugin Underground_Ruins v1.0.0
## Plugin GUID: warpalicious.Underground_Ruins

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

[1 - Underground Ruins]

## Amount of attempts world generation will try to place dungeon exterior during world generation [Synced with Server]
# Setting type: Int32
# Default value: 30
Spawn Quantity = 30

## When Off, location will spawn default creatures. When On, dungeon will select creatures from list in the custom YAML file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Creature YAML file = Off

## The name of the creature list to use from YAML file [Synced with Server]
# Setting type: String
# Default value: UndergroundRuinsCreatures1
Name of Creature List = UndergroundRuinsCreatures1

## When Off, location will use default loot. When On, dungeon will select loot from list in the custom YAML file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom Loot YAML file = Off

## The name of the loot list to use from YAML file [Synced with Server]
# Setting type: String
# Default value: UndergroundRuinsLoot1
Name of Loot List = UndergroundRuinsLoot1

## When Off, location will use default loot. When On, dungeon will select loot from list in the custom YAML file in BepinEx config folder [Synced with Server]
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Use Custom PickableItem YAML file = Off

## The name of the loot list to use from YAML file [Synced with Server]
# Setting type: String
# Default value: UndergroundRuinsPickables1
Name of PickableItem List = UndergroundRuinsPickables1

