## Settings file was created by plugin MonsterModifiers v1.0.16
## Plugin GUID: warpalicious.MonsterModifiers

[1 - General]

## If on, the configuration is locked and can be changed by server admins only. [Synced with Server]
# Setting type: Toggle
# Default value: On
# Acceptable values: Off, On
Lock Configuration = On

