## Settings file was created by plugin BetterRiding v1.0.9
## Plugin GUID: Yggdrah.BetterRiding

[Camera]

##  [Synced with Server]
# Setting type: Single
# Default value: 20
Max Distance = 20

##  [Synced with Server]
# Setting type: Single
# Default value: 0
Min Distance = 0

[Copper Coins]

## Copper Coins drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Copper Coins.
# Setting type: Single
# Default value: 0.1
Weight = 0.1

## Trader value of Copper Coins.
# Setting type: Int32
# Default value: 1
Trader Value = 1

## Which traders sell Copper Coins.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Copper Coins at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Copper Coins in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Copper Coins at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Electrum]

## Crafting station where Electrum is available.
# Setting type: CraftingTable
# Default value: Forge
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, MeadCauldron, Forge, ArtisanTable, StoneCutter, MageTable, PrepTable, BlackForge, Custom
Crafting Station = Forge

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Electrum.
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Whether only one of the ingredients is needed to craft Electrum
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Electrum. Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Electrum
# Setting type: String
# Default value: Copper:1,Silver:1,Gold_Bar_Ygg:1
Crafting Costs = Copper:1,Silver:1,Gold_Bar_Ygg:1

## Electrum drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Electrum.
# Setting type: Single
# Default value: 14
Weight = 14

## Trader value of Electrum.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Which traders sell Electrum.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Electrum at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Electrum in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Electrum at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Electrum Ore]

## Electrum Ore drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Electrum Ore.
# Setting type: Single
# Default value: 12
Weight = 12

## Trader value of Electrum Ore.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Which traders sell Electrum Ore.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Electrum Ore at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Electrum Ore in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Electrum Ore at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[General]

## Force Server Config [Synced with Server]
# Setting type: Boolean
# Default value: true
Force Server Config = true

[Gold]

## Crafting station where Gold is available.
# Setting type: CraftingTable
# Default value: Forge
# Acceptable values: Disabled, Inventory, Workbench, Cauldron, MeadCauldron, Forge, ArtisanTable, StoneCutter, MageTable, PrepTable, BlackForge, Custom
Crafting Station = Forge

# Setting type: String
# Default value: 
Custom Crafting Station = 

## Required crafting station level to craft Gold.
# Setting type: Int32
# Default value: 1
Crafting Station Level = 1

## Whether only one of the ingredients is needed to craft Gold
# Setting type: Toggle
# Default value: Off
# Acceptable values: Off, On
Require only one resource = Off

## Multiplies the crafted amount based on the quality of the resources when crafting Gold. Only works, if Require Only One Resource is true.
# Setting type: Single
# Default value: 1
Quality Multiplier = 1

## Item costs to craft Gold
# Setting type: String
# Default value: Coins:200
Crafting Costs = Coins:200

## Gold drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Gold.
# Setting type: Single
# Default value: 0
Weight = 0

## Trader value of Gold.
# Setting type: Int32
# Default value: 0
Trader Value = 0

## Which traders sell Gold.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Gold at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Gold in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Gold at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Silver Coins]

## Silver Coins drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Silver Coins.
# Setting type: Single
# Default value: 0.1
Weight = 0.1

## Trader value of Silver Coins.
# Setting type: Int32
# Default value: 1
Trader Value = 1

## Which traders sell Silver Coins.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Silver Coins at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Silver Coins in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Silver Coins at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

[Void Gem]

## Void Gem drops from this creature.
# Setting type: String
# Default value: 
Drops from = 

## Weight of Void Gem.
# Setting type: Single
# Default value: 0.1
Weight = 0.1

## Trader value of Void Gem.
# Setting type: Int32
# Default value: 20
Trader Value = 20

## Which traders sell Void Gem.
# Setting type: Trader
# Default value: None
# Acceptable values: None, Haldor, Hildir
# Multiple values can be set at the same time by separating them with , (e.g. Debug, Warning)
Trader Selling = None

## Price of Void Gem at the trader.
# Setting type: UInt32
# Default value: 0
Trader Price = 0

## Stack size of Void Gem in the trader. Also known as the number of items sold by a trader in one transaction.
# Setting type: UInt32
# Default value: 1
Trader Stack = 1

## Required global key to unlock Void Gem at the trader.
# Setting type: String
# Default value: 
Trader Required Global Key = 

